* {
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
    margin-top: 30px;
}

.title a {
    display: block;
    background-color: greenyellow;
    width: 100vw;
    text-align: center;
}